
<body class="background_camilla">
<div class="container Btn1">
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Level
  </button>
<ul class="dropdown-menu">
  <fieldset id="group1">
    <div class="form-check">
    <input class="form-check-input" type="radio" name="levelgroup1" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
     1
  </label>
  
    </div>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="levelgroup1" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    2
  </label>
  </div>
  
    <div class="form-check">
  <input class="form-check-input" type="radio" name="levelgroup1" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    3
  </label>
  </div>


     <div class="form-check">
  <input class="form-check-input" type="radio" name="levelgroup1" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
     4
  </label>
  </div>


     <div class="form-check">
  <input class="form-check-input" type="radio" name="levelgroup1" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    5
  </label>
  </div>

     <div class="form-check">
  <input class="form-check-input" type="radio" name="levelgroup1t" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
     6
  </label>
  </div>
   <div class="form-check">
  <input class="form-check-input" type="radio" name="levelgroup1t" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    7
  </label>
  </div>

   </fieldset>
   <fieldset class=""></fieldset>
    <li><hr class="dropdown-divider"></li>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="speed1" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault1" id="">
    speed x1
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="speed1" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault1">
    speed x2
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="speed1" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault1">
   speed x3
  </label>
  </div>
    </fieldset>
         <li><hr class="dropdown-divider"></li>
      <button class="level">Send </button>
  </ul>
  
    </div>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Word Groups
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Short vower</a></li>
    <li><a class="dropdown-item" href="#">C-levelonsonet Combinations</a></li>
    <li><a class="dropdown-item" href="#">Site words 1</a></li>
    <li><a class="dropdown-item" href="#">Site words 2</a></li>
    <li><a class="dropdown-item" href="#">Site words All</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Speed
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">1x</a></li>
    <li><a class="dropdown-item" href="#">2x</a></li>
    <li><a class="dropdown-item" href="#">3x</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Reading
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">short story 1</a></li>
    <li><a class="dropdown-item" href="#">short story 2</a></li>
    <li><a class="dropdown-item" href="#">short story 3</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
</div>
  <div class="whiteBox"></div>
  <div class="words"></div>


</div>

</body>



